*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/androidTest/
src/test/
src/main/res/drawable-hdpi/
src/main/res/drawable-mdpi/
src/main/res/drawable-xhdpi/
src/main/res/drawable-xxhdpi/
src/main/res/drawable-xxxhdpi/
